{% extends 'components/templates/default.twig' %}

{% block content %}

  <div class="kv-row">
    {#{% include 'components/molecules/kv.twig' %}#}
    <div class="kv">
      <img class="js-preload" data-src="{{ get_images_uri() }}/kv.jpg" alt=""/>
    </div>
    <div class="kv">
      <img class="js-preload" data-src="{{ get_images_uri() }}/kv2.jpg" alt=""/>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    window.preloader.load()
  </script>


  <br/>

  <div class="animate">animate <span class="animate-span">span</span></div>

  <div class="foo">foo</div>

  <div class="ob-row">
    {% for i in 0..30 %}
      <div class="ob">
        <div class="ob-inner">
          scroll obseier
        </div>
      </div>
    {% endfor %}
  </div>



  <div class="test-container">
    <div class="row">
      <div class="col col-menu">
        <div class="bg">col1</div>
      </div>
      <div class="col col-menu">
        <div class="bg">col2</div>
      </div>
      <div class="col col-menu">
        <div class="bg">col3</div>
      </div>
      <div class="col col-menu">
        <div class="bg">col3</div>
      </div>
    </div>
  </div>


{% endblock %}

