@mixin container($width: false, $gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  @if $width != false {
    max-width:  $width;
  }
  @include clearfix;

}

@mixin row($gutter-width: $grid-gutter-width) {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-left: ceil(($gutter-width / -2));
  margin-right: floor(($gutter-width / -2));
}

@mixin row-start($last-right: false) {
  justify-content: flex-start;
  @if $last-right {
    > *:last-child {
      margin-left: auto;
    }
  }
}

@mixin row-center() {
  justify-content: center;
}

@mixin row-end($first-left: false) {
  justify-content: flex-end;
  @if $first-left {
    > *:first-child {
      margin-right: auto;
    }
  }
}

@mixin row-top() {
  align-items: flex-start;
}

@mixin row-middle() {
  align-items: center;
}

@mixin row-bottom() {
  align-items: flex-end;
}

@mixin row-around() {
  justify-content: space-around;
}

@mixin row-between() {
  justify-content: space-between;
}

@mixin row-evenly() {
  justify-content: space-evenly;
}

@mixin col-width($width) {
  @if ('clear' == $width) {
    flex: 1 1 auto;
    max-width: none;
  } @else if ('auto' == $width) {
    flex: 1 1 auto;
  } @else if (1 == $width) {
    flex: 1 1 0;
  } @else {
    flex: 0 1 $width;
    max-width: $width;
  }
}

@mixin col($span: 0, $columns: $grid-columns, $gutter-width: $grid-gutter-width) {
  flex-grow: 1;
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
  @if ($span > 0) {
    @include col-width(percentage($span / $columns));
  } @else {
    @include col-width('clear');
  }
}

@mixin col-offset($span: 0, $columns: $grid-columns) {
  margin-left: percentage(($span / $columns));
}

