.a-button {
  padding: 1em;
  display: block;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: $text-color;
  @include transition();
  &:hover {
    background-color: #fff;
  }
  @include fz(12);
}
