.a-select {
  padding: 1.1em 12px;
  //width: 1%;
  width: 100%;
  height: calc(3.3em);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 auto;
  border: none;
  text-align: left;
  border-radius: 5px;
  background-color: #fff;
  line-height: 1.25;
}
