@import 'animation/util';
@import 'animation/effect';

@mixin preload-keyframes($arg) {
  $name: map-get(process-args($arg), name);
  @include keyframes($name, $arg);
}
@mixin animation($arg, $duration: 0.3s, $ease: $easeOutCubic, $delay: 0s, $iteration: 1, $direction: normal, $fill: both) {
  $name: map-get(process-args($arg), name);
  @include keyframes($name, $arg);
  animation-name: unquote($name);
  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: $ease;
  animation-iteration-count: $iteration;
  animation-direction: $direction;
  animation-fill-mode: $fill;
}


