export WP_DOMAIN=
export WP_URL=
export WP_SITE_TITLE=
export WP_ADMIN_USER=
export WP_ADMIN_PASSWORD=
export WP_ADMIN_EMAIL=

export WP_DB_HOST=
export WP_DB_NAME=
epoxrt WP_DB_USER=
export WP_DB_PASSWORD=

